<ul>
  {% if user.is_authenticated %}
    <li>User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li><a href="{% url "logout"%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li><a href="{% url "login"%}?next={{request.path}}">Login</a></li>
    <li><a href="{% url "restaurant:cook-create" %}">Register</a></li>
  {% endif %}

  <br>


  <li><a href="{% url "restaurant:index" %}">Home Page</a></li>
  <li><a href="{% url "restaurant:cook-list" %}">Cooks</a></li>
  <li><a href="{% url "restaurant:dish-list" %}">Dishes</a></li>
  <li><a href="{% url "restaurant:dishtype-list" %}">Types of dishes</a></li>
</ul>