{% extends "base.html" %}

{% block content %}
    <h1>Restaurant Service Home Page</h1>
    <p>Welcome to the Best Restaurant Ever!</p>
    <p>The Restaurant service has the following record counts:</p>
    <ul>
        <li><a href="{% url "restaurant:cook-list" %}"><strong>Cooks:</strong> </a>{{ num_cooks }}</li>
        <li><strong><a href="{% url "restaurant:dish-list" %}">Dishes:</a></strong> {{ num_dishes }}</li>
        <li><strong><a href="{% url "restaurant:dishtype-list" %}">Dish types:</a></strong> {{ num_dish_types }}</li>
    </ul>
{% endblock %}
